
body {
	margin: 0;
	background-image: linear-gradient(#e1d2c3e7, rgb(255, 255, 255));
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 35px;
	line-height: 24px;
	overscroll-behavior: none;
}

.btn-flip {
	border: none;
	padding: 1px 20px;
	margin-left: 1150px;
	margin-top: 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
	opacity: 1;
  	outline: 0;
  	line-height: 40px;
  }

.btn-flip:hover:after {
	opacity: 1;
	transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
	opacity: 0;
	transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
	background: url(image/contact2.png);
	background-repeat: no-repeat;
}
.btn-flip:after {
	top: 0;
	left: 10;
	opacity: 1;
	width: 57.7%;
	display: block;
	transition: 0.5s;
	position: absolute;
	content: attr(data-back);
	transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
	background: url(image/contact1.png);
	background-repeat: no-repeat;
}
.btn-flip:before {
	top: 0;
	left: 0;
	opacity: 1;
	width: 20%;
	display: block;
	padding: 0 25px;
	transition: 0.5s;
	position: relative;
	content: attr(data-front);
	transform: translateY(0) rotateX(0);
}

#copyright {
	font-size: 13px;
	font-weight: lighter;
	color: #4e4e4e;
	position: absolute;
	top: 650px;
	margin-left: 470px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#info {
	position: absolute;
	top: 50px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#logo {
	position: absolute;
	top: 20px;
	right: 550px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}


         